<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>TheMartianPond-main</title>
</head>
<body>

<div class="container">

	<h1 class="display-1 mt-5"><b>TheMartianPond</b></h1>
	<h2 class="display-4 mb-4">Сайт об астробиологии на русском</h2>
	<p>Астробиоло́гия (экзобиоло́гия) — наука, предметом которой является изучение происхождения эволюции и распространения жизни на других планетах
        во Вселенной. Астробиология опирается на научные достижения в области физики, химии, астрономии, биологии, экологии, планетологии, географии,
        геологии и космонавтики для исследования возможности существования внеземной жизни. В решении некоторых задач астробиология тесно
        соприкасается с космической биологией и космической медициной, возникшими в связи с активным проникновением человека в космическое пространство.
        Астробиология осуществляет поиск пригодной для жизни среды обитания как в Солнечной системе, так и за её пределами, поиск доказательств
        предбиотической химии, лабораторные и практические исследования происхождения и раннего развития жизни на Земле, а также исследования
        потенциальных возможностей жизни в части приспособления к сложным условиям на Земле и в космосе.</p>

	<div class="mb-4 mt-5">

		<a class="btn btn-outline-primary mb-2 mr-2" href="#" ></a>

		<!--Еще теги здесь-->

	</div>

	<div class="row">
	    <div class="col-md-4">
	        <div class="card mb-4" >
	          <div class="card-body">
	              <img src="/static/images/1.jpg" alt="" class="img-fluid">
	              <h5 class="card-title mt-3"><a href="playlists/about_astrobiology">Об Астробиологии</a></h5>
	              <p class="card-text"></p>
	              <p class="card-text">1 видео</p>
	          </div>
	        </div>
	    </div>
		<div class="col-md-4">
	        <div class="card mb-4" >
	          <div class="card-body">
	              <img src="/static/images/2.jpg" alt="" class="img-fluid">
	              <h5 class="card-title mt-3"><a href="playlists/life_search">Поиск жизни за пределами Земли</a></h5>
	              <p class="card-text"></p>
	              <p class="card-text">3 видео</p>
	          </div>
	        </div>
	    </div>
	    <!--Еще карточки -->

	</div><!--/row -->

	<hr>
	<p><a href="/videos_list">Полный список видео</a></p>
	<p><a href="/about">Получить информацию о проекте</a></p>

</div><!--/container -->

</body>
</html>